.mockupContent {
  max-width: 400px;
  margin: 0 auto;
}

.macBox {
  position: relative;
  margin-bottom: 1rem;
}

.macImageBox {
  width: 78%;
  height: 85%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background: #000;
}

.macImage {
  position: absolute;
  top: 0;
  left: 0;
}

.iphoneBox {
  position: relative;
  margin-bottom: 1rem;
}

.iphoneImageBox {
  width: 63%;
  height: 88.9%;
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 22px;
  background: #000;
}

.iphoneImage {
  position: absolute;
  top: 0;
  left: 0;
}

.topBox {
  position: relative;
  padding-top: 7%;
  z-index: 2;
}

.topImage {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
