.mockupContent {
  max-width: 400px;
  margin: 0 auto;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.macBox {
  position: relative;
  margin-bottom: 3rem;
}
.macMockup,
.iphoneMockup {
  filter: drop-shadow(2px 2px 8px #000);
  width: 100%;
  height: auto;
}

.macImageBox {
  width: 78%;
  height: 86%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background: #000;
}

.macImage {
  position: absolute;
  top: 0;
  left: 0;
}

.iphoneBox {
  position: relative;
  margin-bottom: 1rem;
}

.iphoneImageBox {
  width: 63%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 22px;
  background: #000;
}

.iphoneImage {
  position: absolute;
  top: 0;
  left: 0;
}

.topBox {
  position: relative;
  padding-top: 7%;
  z-index: 2;
}

.topImage {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .mockupContent {
    display: flex;
    align-items: center;
    max-width: 600px;
  }

  .macBox {
    margin-bottom: 0;
  }

  .iphoneBox {
    min-width: 240px;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .mockupContent {
    max-width: 800px;
  }

  .macBox {
    flex: 1;
  }

  .iphoneBox {
    min-width: 360px;
    max-width: 360px;
  }
}
