.titleIn {
  opacity: 0;
  animation: titleIn 1s ease-in forwards;
  animation-delay: 1s;
}

.titleIn2 {
  opacity: 0;
  animation: titleIn2 1s ease-in forwards;
  animation-delay: 2s;
}

.positon {
  animation: posiotion 0 forwards;
  animation-delay: 3s;
}

.fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes titleIn {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes titleIn2 {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes posiotion {
  from {
    position: absolute;
  }
  to {
    position: sticky;
  }
}
