.finger {
  position: absolute;
  z-index: 3;
  top: 200px;
  right: 10%;
  pointer-events: none;
  user-select: none;
  filter: drop-shadow(2px 4px 6px black);
  animation: fingerAnimation 5s forwards;
  width: 50px;
  height: auto;
}

@keyframes fingerAnimation {
  0% {
    top: 200px;
  }

  80% {
    top: 60px;
  }
  100% {
    opacity: 0;
  }
}
